asgiref
certifi
charset-normalizer
Django
django-ranged-response
django-simple-captcha
djangorestframework
docutils
filetype
idna
Kivy
Kivy-Garden
pillow
requests
sqlparse
tzdata
urllib3
gunicorn
whitenoise
pathlib
captcha